 .profil{
    margin-left: 0px;
     margin-right: 20px;
  }

  .bienvenu{
      font-size: 24px;
      font-weight: bold;
  }
  .profil span{
      font-size: 22px;
      font-weight: bold;
      margin-top: -30px;

  }
  .profil .change-text{
      color: #FFC107;
      margin-left: 10px;
  }
  .profil p {
      font-size: 20px;
  }
  .profil img{
      height: 70%;
      width: 80%;
      margin-left: 15%;
      margin-top: -40px;
      position: static;
      border: none;
  }
  #navbarNavAltMarkup a:hover{
    color: #FFC107;
}
  .col-profil{
      margin-top: 10px;

  }
